# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!lovelace
!lovelace/screenshots
!appdaemon
!appdaemon/apps
!*.py
!esphome

# Ignore folders.
.storage
.cloud
.google.token
.custom_components
.deps
.tts
.www

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml